from launch import LaunchDescription
from launch_ros.actions import Node

def generate_launch_description():

    image_pub = Node(
        package = 'virtual_camera',
        executable = 'image_publisher',
        output = 'screen',
        emulate_tty= True
        )

    image_sub = Node(
        package = 'virtual_camera',
        executable = 'image_subscriber',
        output = 'screen',
        emulate_tty= True
        )

    return LaunchDescription([
        image_pub,
        image_sub,
        ])